<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>Weather App</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png" />
    </head>
    <body>
        <header>
            {{>header}}
        </header>
        <hr>
        <main>
            <p>Weather App created By Yash Patel.</p>
            <p>Cretaed as a part of learning experiance. </p>
            <h3>
                Used APIs
            </h3>
            <ul>
                <li>MapBox API to get latitude and longitude of the location</li>
                <li>weatherStack API to get current weather of the location</li>
            </ul>    
        </main>
        <hr>
        <footer>
            <p>created by {{authorName}}</p>
        </footer> 
    </body>
</html>