<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>Weather</h1>    
        </header>
        <hr>
        <main>
            <p style="color: grey;">Please enter the location in the field...</p>
            <form>
                <section>
                    <input type="text" placeholder="Enter Your City">
                    <button type="submit">Check</button>
                </section>

                <p id="labelCity" class="dataShow"</p>
                <p id="labelDetails" class="dataShow"></p>
                <p id="labelTemp" class="dataShow"></p>
                <p id="labelPrecip" class="dataShow"></p>
                
                
                
                
                
            </form>
        </main>
        <hr>
        <footer>
            <p>created by {{authorName}}</p>
        </footer> 
    </body>
    <script src="/js/functions.js"></script>
</html>